/* to show boxes */
/* * {
  border: 1px black solid;
} */

/* simple reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
}

form {
  padding-bottom: 2rem;
}

.streetElement {
  border: black solid 1px;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0.1rem;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
}

li {
  padding: 0.25rem;
}
